<mat-toolbar class="custom-toolbar">
  <div class="toolbar-container">
    <span class="toolbar-title">Controle de Produtos</span>
    <button mat-raised-button color="accent" routerLink="/admin/madeira/new" class="add-button">
      <mat-icon>add</mat-icon>
      <span>Adicionar Produto</span>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="madeiras" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th class="mat-header-cell"  *matHeaderCellDef> No. </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Produto Column -->
  <ng-container matColumnDef="produto">
    <th class="mat-header-cell" *matHeaderCellDef> Produto </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Preco Column -->
  <ng-container matColumnDef="preco">
    <th class="mat-header-cell" *matHeaderCellDef> Preço </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.preco}} </td>
  </ng-container>

  <!-- Tipo de Corte Column -->
  <ng-container matColumnDef="tipoCorte">
    <th class="mat-header-cell" *matHeaderCellDef> Tipo de corte </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.tipoCorte.nomeCorte}} </td>
  </ng-container>

  <!-- Material Column -->
  <ng-container matColumnDef="material">
    <th class="mat-header-cell" *matHeaderCellDef> Material </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.material.nomeMaterial}} </td>
  </ng-container>

  <!-- Acao Column -->
  <ng-container matColumnDef="acao">
    <th class="mat-header-cell" *matHeaderCellDef> Ação </th>
    <td class="mat-cell" mat-cell *matCellDef="let element">
      <button mat-icon-button class="mat-icon-button" routerLink="/admin/madeira/edit/{{element.id}}">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
