<mat-toolbar color="primary" class="toolbar-title">Cadastro de Produtos</mat-toolbar>
<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="nome">
            <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
              O Nome é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="descricao"></textarea>
          </mat-form-field>
        </div>
        
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Largura</mat-label>
            <input matInput type="number" formControlName="largura">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Comprimento</mat-label>
            <input matInput type="number" formControlName="comprimento">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Espessura</mat-label>
            <input matInput type="number" formControlName="espessura">
          </mat-form-field>
        </div>
        
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Cor</mat-label>
            <input matInput type="text" formControlName="cor">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" formControlName="quantidade">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Preço</mat-label>
            <input matInput type="number" formControlName="preco">
          </mat-form-field>
        </div>
        
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Material</mat-label>
            <input type="text" matInput formControlName="material" [matAutocomplete]="autoMaterial">
            <mat-autocomplete #autoMaterial="matAutocomplete">
              @for (material of materiais; track material.id) {
                <mat-option [value]="material">
                  {{material.nomeMaterial}}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Tipo de Corte</mat-label>
            <input type="text" matInput formControlName="tipoCorte" [matAutocomplete]="autoTipoCorte">
            <mat-autocomplete #autoTipoCorte="matAutocomplete">
              @for (tipoCorte of tiposDeCortes; track tipoCorte.id) {
                <mat-option [value]="tipoCorte">
                  {{tipoCorte.nomeCorte}}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Fornecedor</mat-label>
            <input type="text" matInput formControlName="fornecedor" [matAutocomplete]="autoFornecedor">
            <mat-autocomplete #autoFornecedor="matAutocomplete">
              @for (fornecedor of fornecedores; track fornecedor.id) {
                <mat-option [value]="fornecedor">
                  {{fornecedor.nomeFornecedor}}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Acabamento</mat-label>
            <input type="text" matInput formControlName="acabamento" [matAutocomplete]="autoAcabamento">
            <mat-autocomplete #autoAcabamento="matAutocomplete">
              @for (acabamento of acabamentos; track acabamento.id) {
                <mat-option [value]="acabamento">
                  {{acabamento.tipoAcabamento}}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"
              (click)="salvar()"
              [disabled]="formGroup.invalid">
              Salvar
      </button>
      <button mat-raised-button color="warn"
              *ngIf="formGroup?.get('id')?.value"
              (click)="excluir()"
              [disabled]="formGroup.invalid">
              Excluir
      </button>
      <button mat-raised-button
              routerLink="/admin/madeira">
              Cancelar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
